<div id='button-container'>
	<a class="nav-button">
		<span class='vCenter'>
			<span class='vCenterKid'>
				<span class="lines block"></span>
			</span>
		</span>
	</a>
</div>


<div id='navigation-container' class='fullHeight fittext' data-min='2' data-max='120' data-fit='24'>
	<div class='vCenter'>
		<div class='vCenterKid'>
		
			<div class='hiddenOverflow relative perspective'>
			
				{{#each data.desktop.items}}
				<div data-slide='{{this.slug}}' class='linkHolder'>
					{{#if_eq @index compare='0'}}
					<div class='hover'></div>
					{{/if_eq}}
					<a href='{{baseUrl}}/{{this.url}}' class='links'>{{this.label}}</a>
				</div>
				{{/each}}
				
				
			</div>
			
		</div>
	</div>
</div>

<img class='logo' src="{{baseUrl}}/img/logo.svg" alt="Ayurveda" />
<!--[if lte IE 9]>
	<img class='logo' src="{{baseUrl}}/img/logo.png" alt="Ayurveda" />
<![endif]-->