<div id='button-container'>
	<a class="nav-button">
		<span class='vCenter'>
			<span class='vCenterKid'>
				<span class="lines block"></span>
			</span>
		</span>
	</a>
</div>


<div id='navigation-container' class='fullHeight fittext' data-min='2' data-max='120' data-fit='24'>
	<div class='vCenter'>
		<div class='vCenterKid'>
		
			<div class='hiddenOverflow relative perspective'>
								
				<div data-slide='home' class='linkHolder' href='#'>
					<div class='hover'></div>
					<a href='{{baseUrl}}/cs' class='links'>Home</a>
				</div>
				
				<div data-slide='about' class='linkHolder' href='#'>
					<a href='{{baseUrl}}/cs/about' class='links'>About us</a>
				</div>
				
				<div data-slide='massages' class='linkHolder' href='#'>
					<a href='{{baseUrl}}/cs/massages' class='links'>Massages</a>
				</div>
				
				<div data-slide='master' class='linkHolder' href='#'>
					<a href='{{baseUrl}}/cs/master' class='links'>Master</a>
				</div>
				
				<div data-slide='contact' class='linkHolder' href='#'>
					<a href='{{baseUrl}}/cs/contact' class='links'>Contact</a>
				</div>
				
			</div>
			
		</div>
	</div>
</div>

<img class='logo' src="{{baseUrl}}/img/logo.svg" alt="Ayurveda" />
<!--[if lte IE 9]>
	<img class='logo' src="{{baseUrl}}/img/logo.png" alt="Ayurveda" />
<![endif]-->