<div id="bx-wrapper" class="bx-wrapper">
                              	  
    <div class="bx-container translateZ">
    	<img data-pos='home' class='bxImg' src="{{baseUrl}}/img/slider/large/0.jpg" alt="home"/>
    	<img data-pos='about' class='bxImg' src="{{baseUrl}}/img/slider/large/1.jpg" alt="about"/>
    	<img data-pos='massages' class='bxImg' src="{{baseUrl}}/img/slider/large/2.jpg" alt="massage"/>
    	<img data-pos='master' class='bxImg' src="{{baseUrl}}/img/slider/large/3.jpg" alt="master"/>
    	<img data-pos='contact' class='bxImg' src="{{baseUrl}}/img/slider/large/4.jpg" alt="contact"/>
    	
    	<img data-pos='odborna-konzultace-s-mistrem-ad-raj-kumarem' class='bxImg' src="{{baseUrl}}/img/slider/large/2.jpg" alt="master"/>
    	<img data-pos='abhyanga' class='bxImg' src="{{baseUrl}}/img/slider/large/0.jpg" alt="abhyanga"/>
    	<img data-pos='shirodhara' class='bxImg' src="{{baseUrl}}/img/slider/large/1.jpg" alt="shirodhara"/>
    	
    </div>
    
</div>