<div id="bx-wrapper" class="bx-wrapper">
                              	  
    <div class="bx-container translateZ">
    
    	{{#each images}}
    	<img id='{{this.name}}' data-pos='{{this.name}}' class='bxImg' src="{{baseUrl}}/uploads/{{this.featured_image.file.url}}" alt="{{this.name}}"/>
    	{{/each}}
    
    	
    </div>
    
</div>