<div class='container-fluid fullHeight hiddenOverflow'>

	<div id='content' class="square round transition">
		<div class='fittext textContainer'  data-fit='26' data-min='14' data-max='100'>
			<div class='padding fullHeight'>
				
					<div id='innerHolder' class='vCenter'>
						<div class='vCenterKid'>
							
							{{#if data.title}}
							<h1 class='headline'>{{{data.title}}}</h1>
							{{/if}}
							
							
							<div class='bodyText'>
							{{{data.content}}}
							</div>
							
							<div class='bottomSection row'>
							{{#if data.meta.ms_duration}}
								<span class='duration iblock col-xs-4 col-sm-4 col-md-4 col-lg-4 '>
									<img src='{{baseUrl}}/img/icons/duration_wht.svg' class='icon' />
									<!--[if lte IE 9]>
										<img class='icon' src="{{baseUrl}}/img/icons/duration_wht.png" alt="icon" />
									<![endif]-->
									<span class='block'>{{{data.meta.ms_duration}}}</span>
								</span>
								
								<span class='price iblock col-xs-4 col-sm-4 col-md-4 col-lg-4 '>
									<img src='{{baseUrl}}/img/icons/money_wht.svg' class='icon' />
									<!--[if lte IE 9]>
										<img class='icon' src="{{baseUrl}}/img/icons/money_wht.png" alt="icon" />
									<![endif]-->
									<span class='block'>{{{data.meta.ms_price}}}</span>
								</span>
								{{/if}}
								
								{{#if hasParent}}
								<a href='{{baseUrl}}/{{locale}}/{{parentPage}}' class='price iblock col-xs-4 col-sm-4 col-md-4 col-lg-4 links otherLink'>
									<img src='{{baseUrl}}/img/icons/drop_wht.svg' class='icon transition translateZ' />
									<!--[if lte IE 9]>
										<img class='icon' src="{{baseUrl}}/img/icons/drop_wht.png" alt="icon" />
									<![endif]-->
									<span class='block whiteT lh100'>Ostatni masaze</span>
								</a>
								{{/if}}
							</div>
							
						</div>
					</div>
				
			</div>
		</div>
	</div>
	
</div>